<?xml version='1.0' encoding='UTF-8'?>
<plugin
    id="cordova-plugin-taptic-engine"
    version="2.2.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0">

  <name>Taptic Engine</name>

  <author>Eddy Verbruggen - @EddyVerbruggen</author>

  <description>Use Apple's Taptic Engine to vibrate your iPhone 6s (or up) in a variety of ways.</description>

  <keywords>Taptic Engine, Haptic, Haptic Feedback, Taptic, Taptic Feedback, Vibrate, Vibration</keywords>

  <license>MIT</license>

  <engines>
    <engine name="cordova" version=">=3.5.0"/>
  </engines>

  <js-module name="TapticEngine" src="www/TapticEngine.js">
    <clobbers target="TapticEngine"/>
  </js-module>

  <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="TapticEngine">
        <param name="ios-package" value="TapticEngine"/>
      </feature>
    </config-file>

    <header-file src="src/ios/TapticEngine.h"/>
    <source-file src="src/ios/TapticEngine.m"/>

    <!-- required only for the unofficial API -->
    <framework src="AudioToolbox.framework" weak="true" />
  </platform>

</plugin>
